body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background: rgb(219, 209, 209);
  --text-primary: rgba(0, 0, 0, 0.322);
  --text-secondary: rgb(55, 72, 124);
  --accent: rgb(114, 65, 114);
}
[data-theme='dark'] {
  --background: rgba(0, 0, 0, 0.281);
  --text-primary: rgb(26, 37, 35);
  --text-secondary: rgb(146, 120, 120);
  --accent: rgb(110, 32, 32);
}